@import 'variables.scss';
button {
  background-color: white;
  color: $primary-red;
  border: none;
  border-radius: 7.5px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

input, textarea {
  background-color: white;
  border: none;
  border-radius: 7.5px;
  color: black;
  font-size: 14px;
  margin: 10px 0;
  padding: 20px;
  width: 400px;
  height: 20px;
}

.disabled {
    opacity: 0.5;
}

.enabled {
    opacity: 1;
}

.radio-wrapper {
    width: 400px;
    text-align: left;

    .radio-container {
      width: 400px;
      padding: 10px 0;

      p {
          font-size: 14px;
          font-weight: bold;
          display: inline;
      }

      input {
          width: 20px;
          margin: 0 5px 0 10px;
          vertical-align: text-bottom;
      }
      label {
          font-size: 14px;
      }
  }
}

.food-pref {
    margin-top: 10px;
    p {
        font-size: 14px;
        font-weight: bold;
    }
    textarea {
        width: 400px;
        height: 72px;
    }
}

@media (max-width: 878px) {
    form {
        width: 300px;
        margin: 0 auto;
        text-align: center;

        input, textarea {
            margin-top: 5px;
            max-width: 300px;
        }

        button {
            margin-top: 5px;
            align-self: flex-start;
        }
    }

    .food-pref {
        p {
            font-size: 12px;
            text-align: left;
        }
        input {
            height: 40px;
            font-size: 12px;
        }
    }
}
