@import 'variables.scss';
button {
  background-color: white;
  color: $primary-red;
  border: none;
  border-radius: 7.5px;
  font-size: 20px;
  margin-top: 10px;
  width: 200px;
  height: 40px;
}

input, textarea {
  background-color: white;
  border: none;
  border-radius: 7.5px;
  color: black;
  font-size: 16px;
  margin: 10px 0;
  padding: 20px;
  width: 400px;
  height: 20px;
}

.disabled {
    opacity: 0.4;
}

.enabled {
    opacity: 1;
}

.radio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    .radio-container {
        display: flex;
        flex-direction: row;
        h2 {
            font-size: 22px;
        }
        .radio-buttons {
            display: flex;
            flex-direction: row;
            .radio-button {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap-reverse;
                input {
                    width: 25px;
                    margin-left: 15px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

.radio-container-test {
    display: flex;
    flex-direction: row;
}

.food-pref {
    display: flex;
    flex-direction: column;
    p {
        font-size: 18px;
        font-weight: 300;
    }
    textarea {
        width: 400px;
        height: 60px;

        font-size: 14px;
    }
}

@media (max-width: 878px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        input, textarea {
            margin-top: 5px;
            max-width: 80vw;
        }

        button {
            margin-top: 5px;
            align-self: flex-start;
            margin-left: 10vw;
        }
    }

    .radio-wrapper {
        width: 80vw;
        .radio-container {
            flex-direction: column;
            h2 {
                font-size: 22px;
            }
            .radio-buttons {
                display: flex;
                flex-direction: row;
                .radio-button {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap-reverse;
                    input {
                        width: 25px;
                        margin-left: 0px;
                    }
                    p {
                        margin-right: 15px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .food-pref {
        display: flex;
        flex-direction: column;
        p {
            font-size: 12px;
            font-weight: 500;
            text-align: center;
        }
        input {
            height: 40px;
            font-size: 12px;
        }
    }
}
