.faq-section {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background: white;
  color: #333;

  strong {
    color: white;
    font-weight: 500;
  }

  .left-side {
    .divider {
      background-color: #333;
      height: 500px;
    }
  }
  .right-side {
    .info-row {
      display: flex;
      flex-direction: row;

      .info-label {
        align-self: center;
        font-weight: 300;
      }
    }
  }
}
