@import 'variables.scss';
.faq-section {
  background: white;
  color: #333;

  strong {
    color: red;
    font-weight: 500;
  }

  .left-side {
    .divider {
      background-color: #333;
      height: 500px;
    }
  }
  .right-side {
    .accordion {
      .title {
        font-weight: 500;
        font-size: 18px;
      }
      .content, a, p {
        font-weight: 300;
        font-size: 18px;
      }
      a {
        color: $primary-red;
      }
    }
  }

  .read-more-button-container {
    .read-more-button {
      color: #333;
      border-bottom: solid 1px #333;
    }
  }
}

@media (max-width: 868px){
  .faq-section {
    height: auto !important;

    .content-container {
      height: auto !important;
      margin-bottom: 80px;
    }

    .left-side {
      align-items: center;
      margin-bottom: 40px;
    }

    .right-side {
      height: auto !important;
      padding-bottom: 10px;
      .accordion {
        max-width: 90vw !important;
        margin: 0px auto;
        .content {
          max-width: 100% !important;
        }
      }
      .info-row {
        margin: 15px auto 30px auto;
        .info-label {
          font-size: 20px !important;
          text-align: center;
        }
        .info-text {
          font-size: 18px !important;
          text-align: center;
          margin-top: 10px;
        }
      }
    }
  }
}
