@import 'variables.scss';
.sign-up-section {
  background-color: $primary-red;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 80px, rgba(160,2,2,.5) 80px, rgba(160,2,2,.5) 160px);
  color: white;

  .left-side {
    .divider {
      background-color: white;
      height: 500px;
    }
  }

  .right-side {
    height: auto !important;
    margin-top: 20px;
    max-width: 500px;
  }
}
