@import 'variables.scss';
.sign-up-section {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: #333;
  color: white;

  .left-side {
    .divider {
      background-color: white;
      height: 500px;
    }
  }
  .right-side {
    margin: 2em 0px 0px 0px;
    max-width: 500px;

    form {
      button {
        background-color: $primary-red;
      }
    }
  }
}
