.hero {
  background:#3778c2;
  display: flex;
  height: 100vh;
  width: 100vw;

  h1 {
    color: #D6E9E5;
    font-weight: 100;
    font-size: 50px;
    text-align: right;
  }
  .hero-left-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45vw;


    h1 {
      text-align: right;
    }

    .hero-date {
      font-size: 95px;
      transition: all 1.2s ease-in-out;
    }
  
    .hero-date.show {
      margin-top: 0px;
    }
  
    .hero-date.hidden {
      margin-top: -1300px;
    }

    .malin {
      background-color: #C5BF8A;
      margin-left: 2.5vw;
      height: 0px;
      transition: height 1.2s ease-in-out;
      width: 2px;
    }

    .malin.show {
      height: 300px;
    }
    .malin.hidden {
      height: 0px;
    }
  }

  .hero-right-side {
    align-self: center;
    transition: margin-top 1.2s ease-in-out;
    padding-left: 2vw;
    height: 40vh;
    
    .hero-desc {
      font-size: 45px;
    }

    .show-interest-button {
      background-color: #C5BF8A;
      border-radius: 7.5px;
      color: white;
      font-size: 30px;  
      line-height: 60px;
      margin: 35px 100px;
      transition: box-shadow .1s ease-in-out;
      text-align: center;
      width: 300px;
      height: 60px;
    }
    
    .show-interest-button:hover {
      box-shadow: 0 0 5px 1px white;
      cursor: pointer;
    }
  }
  .hero-right-side.show {
    margin-top: 29vh!important;
  }
  .hero-right-side.hidden {
    margin-top: 150vh;
  }
}
  