.hero {
  background:#3778c2;
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  h1 {
    color: #D6E9E5;
    font-weight: 100;
    font-size: 50px;
    text-align: right;
  }
  .left-side {
    h1 {
      text-align: right;
    }

    .hero-date {
      font-size: 95px;
      transition: all s ease-in-out;
    }
  
    .hero-date.show {
      margin-top: 0px;
    }
  
    .hero-date.hidden {
      margin-top: -105vh;
    }

    .malin.show {
      height: 320px;

    }
    .malin.hidden {
      height: 0px;
    }
  }

  .right-side {
    align-self: unset;
    width: 550px;
    .right-side-content {
      margin-top: calc(50vh - 55px);
      transition: all 1.9s ease-in-out;
    }

    .show-interest-button {
      background-color: #C5BF8A;
      border-radius: 7.5px;
      color: white;
      font-size: 30px;  
      line-height: 60px;
      margin: 35px auto;
      transition: box-shadow .1s ease-in-out;
      text-align: center;
      width: 300px;
      height: 60px;

      p {
        font-weight: 300;
      }
    }

    .form-side {
      display: flex;
      margin-top: calc(50vh - 90px);
      width: 400px;
      transition: all 1.9s ease-in-out;
      .close {
        border-radius: 5px;
        color: white;
        font-weight: 300;
        font-size: 20px;
        margin-top: -13px;
        height: 25px;
        width: 30px;
      }
    }
  }
  .right-side.show {
  }
  .right-side-content.hidden {
    margin-top: 100vh;
  }
  .right-side-content.show-form {
    margin-top: -160px;
  }
  
}
  


.hero-desc.first {
  //animation: example 5s infinite;
}
/* Standard syntax */
@keyframes example {
  0%   { margin-top: -90px; }
  50%  { margin-top: 0px; }
  100% { margin-top: 0px; }
}


@media (max-width: 868px){ 
  .section.hero {

    .left-side {

      .hero-date {
        font-size: 70px;
      }
    }

    .right-side {
      .right-side-content {
        margin-top: 0px;

        .content {
          margin-top: 10px;
          width: 100vw;
        }
      }

      .right-side-content.show-form {
        margin-top: -160px;
      }

      .show-interest-button {
        margin: 0px auto;
      }

      .form-side {
        width: auto;
        display: block;
      }
      .form-side.hide-form {
        margin-top: 60vh;
      }
      .form-side.show-form {
        margin-top: 50px;
      }
    }
  }
} 