@import 'variables.scss';
.tournament-section {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-image: url(/img/samsonov.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.85);
  color: white;

  strong {
    color: $primary-red;
    font-weight: 500;
  }

  .left-side {
    .divider {
        background-color: #333;
      height: 500px;
    }
  }
  .right-side {
    .info-row {
      display: flex;
      flex-direction: row;

      .info-label {
        align-self: center;
        font-weight: 300;
      }
    }
  }
  .read-more-button-container {
    top: calc(400vh - 45px);
  }
}
