.tournament-section {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background: #1067af;
  color: white;

  strong {
    color: white;
    font-weight: 500;
  }

  .left-side {
    .divider {
      background-color: white;
      height: 500px;
    }
  }
  .right-side {
    .info-row {
      display: flex;
      flex-direction: row;

      .info-label {
        align-self: center;
        font-weight: 300;
      }
    }
  }
  .read-more-button-container {
    top: calc(400vh - 45px);
  }
}
