.read-more-button-container {
    position: absolute;
    width: 99vw;
    cursor: pointer;

    .read-more-button {
      border-bottom: solid 1px white;
      color: white;
      opacity: 1;
      width: 240px;
      margin: 0px auto;
      text-align: center;
      transition: left 0.5s ease-in-out, letter-spacing 0.5s ease-in-out;
      letter-spacing: 0px;
    }

    .read-more-button:hover {
      left: 43.5vw;
      letter-spacing: 1px;
    }
  }
