@import 'variables.scss';
.when-where-section {
  background-color: $primary-red;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 80px, rgba(160,2,2,.5) 80px, rgba(160,2,2,.5) 160px);
  color: white;

  strong {
    color: white;
    font-weight: 500;
  }

  .left-side {
    .divider {
      background-color: white;
      height: 500px;
    }
  }
  .right-side {
    .info-row {
      display: flex;
      flex-direction: row;

      .info-label {
        align-self: center;
        font-weight: 300;
      }
    }
  }
}
