.social-section {
  background:white;
  color: #3778c2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;

  .social-left-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45vw;
    .section-title {
      font-size: 120px;
      
    }
    .malin {
      background-color: #3778c2;
      margin-left: 2.5vw;
      height: 500px;
      transition: height 1.2s ease-in-out;
      width: 2px;
    }
  }
  .right-side {
    display: flex;
    flex-direction: column;
    margin: 250px 0px 0px 40px;

    .info-row {
      display: flex;
      flex-direction: row;
      margin: 20px 0px -20px 0px;
      .info-label {
          
          align-self: center;
          font-weight: 400;
          font-size: 40px;
      }
    }
    .info-text {
      width: 450px;
      font-weight: 200;
      font-size: 32px;

    }
  }

 
}