.social-section {
  background: white;
  color: #1067af;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;

  strong {
    color: #e30612;
    font-weight: 500;
  }

  .left-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45vw;
    .section-title {
      font-size: 120px;
    }
    .divider {
      background-color: #1067af;
      height: 500px;
    }
  }
  .right-side {
    display: flex;
    flex-direction: column;

    .info-row {
      display: flex;
      flex-direction: row;
      margin: 0 0px -20px 0px;
      .info-label {
        color: #1067af;
        align-self: center;
        font-weight: 400;
        font-size: 40px;
      }
    }
    .info-text {
      margin-top: 15px;
      width: 450px;
      font-weight: 300;
      font-size: 32px;
    }

  }

  .read-more-button-container {
    top: calc(200vh - 45px);
    .read-more-button {
      border-bottom: solid 1px #1067af;
      color: #1067af !important;
      opacity: 1 !important;
    }
  }

}



@media (max-width: 868px){
  .social-section {
    .left-side {
      .section-title {
        font-size: 65px;
      }
      height: 30vh !important;
    }

    .right-side {
      justify-content: flex-start;
      height: 70vh !important;
      .info-row {
        flex-direction: column;
        .info-label {
          font-size: 28px;
          text-align: center;
        }
        img {
          margin: 0px auto !important;
          width: 100px !important;
        }
      }
      .info-text {
        font-size: 18px;
        width: 85vw;
        margin: 0px auto;
      }
    }
  }
}
