@import 'variables.scss';
.App {
  max-width: 100%;
  overflow: hidden;
}

.section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  min-height: 900px;

  .content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
  }
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40vw;
  padding-left: 2.5vw;

  .section-title {
    font-size: 70px;
    margin-bottom: 0px;
    text-align: right;
  }

  .divider {
    background-color: white;
    margin-left: 2.5vw;
    height: 0px;
    transition: height 1.5s ease-in-out;
    width: 2px;
  }
}

.right-side {
  align-self: center;
  transition: margin-top 1.5s ease-in-out;
  padding-left: 2.5vw;
  width: 52.5vw;

  .info-row {
    margin-bottom: 1em;
  }
  .info-text {
    font-size: 32px;
    font-weight: 300;
    max-width: 778px;
  }
}

@media (max-width: 868px){
  .section {
    flex-direction: column !important;
    min-height: 600px;

    .content-container {
      flex-direction: column;
      min-height: 600px;
    }

    .left-side {
      flex-direction: column !important;
      width: 100vw !important;
      height: 30vh !important;

      .divider {
        height: 2px !important;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        max-width: 85vw;
      }
    }

    .right-side {
      align-self: center !important;
      flex-direction: column !important;
      overflow: hidden !important;
      height: 60vh !important;
      width: 100vw !important;
    }
  }

  .social-section,
  .when-where-section,
  .tournament-section,
  .faq-section,
  .sign-up-section {
    .left-side {
      padding-left: 0;

      .section-title {
        font-size: 45px;
        text-align: center;
        max-width: 85vw;
      }
    }

    .right-side {
      justify-content: flex-start;
      height: 70vh;
      padding: 0;

      .info-row {
        flex-direction: column;
        max-width: 100vw;
        margin: 0px auto;

        .info-label {
          font-size: 28px !important;
          text-align: center;
          margin-top: 15px;
        }
        .info-text {
          font-size: 18px !important;
          text-align: center;
          width: 85vw;
          max-width: 100vw;
          margin: 0px auto;
          margin-top: 15px;
        }
      }
    }
  }
}
