.App {
  max-width: 100%;
  overflow: hidden;
}

.section {
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45vw;

  .divider {
    background-color: #e30612;
    margin-left: 2.5vw;
    height: 0px;
    transition: height 1.5s ease-in-out;
    width: 2px;
  }
}

.right-side {
  align-self: center;
  transition: margin-top 1.5s ease-in-out;
  padding-left: 2vw;
  height: 40vh;
}

.read-more-button-container {
  position: absolute;
  top: calc(100vh - 45px);
  width: 99vw;
  .read-more-button {
    border-bottom: solid 1px white;
    color: white;
    opacity: 0;
    width: 215px;
    margin: 0px auto;
    text-align: center;
    transition: all 0.5s ease-in-out,opacity 5s ease-in-out;
  }
}

.read-more-button:hover {
  cursor: pointer;
  left: 43.5vw;
  letter-spacing: 1px;
}
.read-more-button.show {
  opacity: 1;
}


@media (max-width: 868px){
  .section {
    flex-direction: column !important;
    .left-side {
      flex-direction: column !important;
      width: 100vw !important;
      height: 40vh !important;
      .divider {
        height: 2px !important;
        width: 500px;
        max-width: 85vw;
      }
    }

    .right-side {
      align-self: center !important;
      flex-direction: column !important;
      overflow: hidden !important;
      height: 60vh !important;
      width: 100vw !important;
    }
  }
}
